html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 0px;
    color: white;
    gap: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 15px;
    font-family: Arial, sans-serif;
    align-items: center;
}

.nav-links {
    font-size: 18px;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 55px;
    height: 55px;
}

.logo, 
.search-container {
    flex: 1;
    padding: 0 20px;
}
.search-button {
    padding: 8px 5px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
}
.search-container {
    display: flex;
    justify-content: flex-end;
    box : shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar a:hover {
    background-color: lightgray;
    color: darkred;
    border-radius: 5px;
}

.hero img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('aset/bg-view.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding-bottom: 40px;
    margin-top: 100px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.hero p {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue', sans-serif;
}

.hero button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}

.about-container {
    display: flex;
    align-items: center;      
    justify-content: center;
    gap: 50px;               
    max-width: 1100px;      
    margin: 0 auto;        
    flex-direction: row-reverse;
}
.about-image {
    flex: 1;
    text-align:right;
}

.about-image img {
    max-width: 100%;         
    border-radius: 10px;     
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.about-content {
    flex: 1;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    text-align: left;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-content p {
    line-height: 1.6;        
    color: #666;
}

.about-section {
    padding: 60px 5%;
    background-color: #f9f9f9;
}

.services-section {
    padding: 60px 5%;
    background-color: #fff;
    margin-top: 40px;
}

.services-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Helvetica Neue', sans-serif;
}

.services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    text-align: center;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.service-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.contact-section {
    padding: 60px;
    justify-content: center;
    background-color: #f9f9f9;
    border-box: border-box;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    align-items: center;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 16px;
    font-family: 'Helvetica Neue', sans-serif;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Helvetica Neue', sans-serif;
}

.contact-form button {
    padding: 15px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
}

.contact-form button:hover {
    background-color: #a30000;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Helvetica Neue', sans-serif;
    margin-top: 40px;
}